.DS_Store
node_modules
build
*.json
!colors.default.json
!colors.example.json
*.tgz

### Docker ###
Dockerfile
.dockerignore

### VisualStudioCode ###
.vscode/*
### VisualStudioCode Patch ###
# Ignore all local history of files
.history

