.DS_Store
node_modules
build
customTheme.txt
*.tgz

### Docker ###
Dockerfile
.dockerignore

### VisualStudioCode ###
.vscode/*
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.temp
